node_modules
.env
.DS_Store
config.js
server/custom/socket.js
server/custom/custom/get/*
server/custom/custom/post/*
server/custom/data/*
server/database/customApi/*
server/database/MongoDB/dataApi/*
server/tables.json
public/*
!public/index.html
